#aboutUsHook {
  background-image: url("../images/womenFacingBackwards.jpg");
  background-position-x: left;
  background-position-y: top;
}

.employeeInfo {
  flex-basis: 33%;
  width: 300px;
  text-align: center;
}

.employeeInfo p {
  text-align: left;
}

.employeeImage {
  border-radius: 50%;
  width: 50%;
  object-fit: cover;
}

#employeesLine1,
#employeesLine2 {
  margin-top: 40px;
}
