#landingPageHook {
  width: 95vw;
  position: relative;
  left: calc(-47.5vw + 50%);
  overflow: hidden;
  height: 700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../images/jay-soni-omgclJdKf1I-unsplash.jpg");
  background-position-x: left;
  background-position-y: top;
  box-shadow: 0px 0px 10px 10px #ffffff inset;
  background-size: cover;
  margin-top: 20px;
}

#informationThirds {
  display: flex;
  flex-direction: row;
}

#informationThirds div {
  flex-basis: 33%;
  box-sizing: border-box;
  margin:5px 5px;
  border: 1px solid grey;
}

#informationThirds div h1 {
  text-align: center;
  border-bottom: 1px solid gray;
}

#informationThirds div p {
  padding-left: 10px;
  padding-right: 10px;
}

#indexProductImages{
  display: flex;
  flex-direction: row;
}

#leftIndexProductImages, #rightIndexProductImages {
  flex-basis: 50%;
}

#leftIndexProductImages div img, #rightIndexProductImages img{
  width: 100%;
}

#leftIndexProductImages{
  display:flex;
  flex-direction: column;
}

#leftIndexProductImages div{
  height:100%;
}

#leftIndexProductImages div img {
  flex-basis: 50%;
}


