#landingPageHook {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  overflow: hidden;
  height: 700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../images/jay-soni-omgclJdKf1I-unsplash.jpg");
  background-position-x: left;
  background-position-y: 20px;
  background-size: cover;
}

#informationThirds div {
  flex-basis: 33%;
}

#indexProductImages{
  height:1000px;
}

#leftIndexProductImages, #rightIndexProductImages {
  flex-basis: 50%;
}

#leftIndexProductImages img, #rightIndexProductImages img{
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  padding: 5px 5px;
}

#leftIndexProductImages img {
  flex-basis: 50%;
  height:50%;
}

#productImage1 {
  object-position: 0 20%;
}

#rightIndexProductImages img {
  height:100%;
}

#reviews div {
  flex-basis: 50%;
}


